cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
Flask==2.3.3
idna==3.10
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.2
pycparser==2.22
requests==2.32.3
tomli==2.0.1
typing_extensions==4.12.2
urllib3==1.26.20
Werkzeug==3.0.4
